<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<p-blockUI [blocked]="loading" appendTo="body"></p-blockUI>

<div class="flex justify-content-between pb-3">
    <h1>Eventos</h1>
    <button pButton pRipple label="Nuevo evento" (click)="hideWindow()" *ngIf="places.length > 0"></button>
</div>

<div *ngIf="places.length == 0">
    <app-card-action-create image="../../../assets/img/location.svg" title="Gestiona tus eventos"
        description="Aquí Puedes administrar todos los lugares"
        textButton="Agregar un nuevo evento" (showWindowsBool)="displayModal = $event"></app-card-action-create>
</div>

<app-table-general [dataSource]="places" [rowTable]="rowTable" (dataTable)="edit($event)"
    (dataTable)="delete($event)" (showWindowsDelete)="displayDialogDeleted = $event"
    (showWindowsBool)="displayModal = $event"></app-table-general>

<p-dialog [(visible)]="displayModal" id="formPlacesView" appendTo="loading-overlay"  (onHide)="clearInputForm()" [modal]="true" [style]="{width: '50%'}" [closable]="false">
    <div class="header-dialog">
        <div>
            <label class="text-dialog">Crear un nuevo evento</label>
        </div>
        <div class="container-header-icon" (click)="hideWindow()">
            <span class="span-header-icon">
                <i class="pi pi-times"></i>
            </span>
        </div>
    </div>

    <div class="mb-4 flex flex-column">
        <form [formGroup]="eventForm">
            <div class="flex flex-row">
                <!-- <div class="flex flex-column mr-1" style="width: -webkit-fill-available;">
                    <label class="my-2" for="code">Categoría</label>
                    <p-dropdown class="containe-select" [options]="categories" optionValue="_id" [filter]="true" filterBy="name"
                            formControlName="categoryId" optionLabel="name" placeholder="Seleccionar la categorria" [ngClass]="{'ng-invalid ng-dirty': eventForm.controls.categoryId.invalid &&
                            (eventForm.controls.categoryId.dirty || eventForm.controls.categoryId.touched), 
                            'is-valid': eventForm.controls.categoryId.valid}">
                    </p-dropdown>
            
                </div> -->

                <div class="flex flex-column mr-1" style="width: -webkit-fill-available;">
                    <label class="my-2" for="name">Nombre del evento</label>
                    <input pInputText id="name" formControlName="name" type="text" [ngClass]="{'ng-invalid ng-dirty': eventForm.controls.name.invalid &&
                    (eventForm.controls.name.dirty || eventForm.controls.name.touched), 
                    'is-valid': eventForm.controls.name.valid}" />
                </div>
            </div>

            <div class="file-upload-container mt-2">
                <label for="images" class="file-upload-label">Imágenes del evento</label>
              
                <!-- Input personalizado para subir archivos -->
                <div class="file-upload-box">
                  <input id="images" type="file" multiple class="file-input" (change)="onFileSelected($event)" />
                  <div class="file-upload-content">
                    <svg xmlns="http://www.w3.org/2000/svg" class="file-upload-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7V3m0 0a2 2 0 012-2h4a2 2 0 012 2v4m-6 0h6M13 3h6a2 2 0 012 2v4m0 10v4m0 0a2 2 0 01-2 2h-4a2 2 0 01-2-2v-4m6 0h-6M7 21H3a2 2 0 01-2-2v-4m0 0h6" />
                    </svg>
                    <span class="file-upload-text">Selecciona o arrastra las imágenes aquí</span>
                  </div>
                </div>
              
                <div id="file-list" class="file-list">
                  <div *ngFor="let image of selectedImages; let i = index" class="thumbnail-container">
                    <img [src]="image.preview" alt="Miniatura" class="thumbnail-image">
                    <button class="remove-button" (click)="removeImage(i)">x</button>
                  </div>
                </div>
            </div>
              
            <div class="flex flex-row">
                <div class="flex flex-column mr-1" style="width: -webkit-fill-available;">
                    <label class="my-2" for="description">Descripción</label>
                    <textarea id="description" pInputTextarea classp-invalid="description" formControlName="description"
                    [ngClass]="{'ng-invalid ng-dirty': eventForm.controls.description.invalid &&
                    (eventForm.controls.description.dirty || eventForm.controls.description.touched), 
                    'is-valid': eventForm.controls.description.valid}"
                    ></textarea>
                </div>
            </div>

            <div class="flex flex-row">
                <div class="flex flex-column mr-1" style="width: -webkit-fill-available;">
                    <label class="my-2" for="address">dirección</label>
                    <textarea id="address" pInputTextarea classp-invalid="address" formControlName="address"
                    [ngClass]="{'ng-invalid ng-dirty': eventForm.controls.address.invalid &&
                    (eventForm.controls.address.dirty || eventForm.controls.address.touched), 
                    'is-valid': eventForm.controls.address.valid}"
                    ></textarea>
                </div>
            </div>

            <div class="flex flex-row">

                <div class="flex flex-column mr-1" style="width: -webkit-fill-available;">
                    <p class="my-2" for="latitud">Latitud <small>Ejem:  3.435906</small></p>
                    <input pInputText id="latitud" formControlName="latitud" type="number"  class="p-invalid w-full"
                   [ngClass]="{'ng-invalid ng-dirty': eventForm.controls.latitud.invalid &&
                    (eventForm.controls.latitud.dirty || eventForm.controls.latitud.touched), 
                    'is-valid': eventForm.controls.latitud.valid}"/>
                </div>

                <div class="flex flex-column mr-1" style="width: -webkit-fill-available;">
                    <label class="my-2" for="longitud">Longitud <small >Ejem: -76.5646</small></label>
                    <input pInputText id="longitud" formControlName="longitud" type="number" [ngClass]="{'ng-invalid ng-dirty': eventForm.controls.longitud.invalid &&
                    (eventForm.controls.longitud.dirty || eventForm.controls.longitud.touched), 
                    'is-valid': eventForm.controls.longitud.valid}" />
                </div>

            </div>

            <div class="flex flex-row">
                <div class="flex flex-column mr-1" style="width: -webkit-fill-available;">
                    <label class="my-2" for="openingDate">Fecha de inicio</label>
                    <input pInputText id="openingDate" formControlName="openingDate" type="date" />
                </div>
                <div class="flex flex-column mr-1" style="width: -webkit-fill-available;">
                    <label class="my-2" for="openingDate">Fecha de fin</label>
                    <input pInputText id="openingDate" formControlName="endDate" type="date" />
                </div>
            </div>

            <div class="flex flex-row">
                <div class="flex flex-column mr-1" style="width: -webkit-fill-available;">
                    <label class="my-2" for="dedication">Dedicación</label>
                    <input pInputText id="dedication" formControlName="dedication" type="text" />
                </div>
                <div class="flex flex-column mr-1" style="width: -webkit-fill-available;">
                    <label class="my-2" for="invite">Invita</label>
                    <input pInputText id="invite" formControlName="invite" type="text" />
                </div>
            </div>

        </form>
    </div>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-between">
            <div class="dialog-footer-text"></div>
            <div>
                <button pButton type="button" label="Cancelar" class="p-button-outlined" (click)="hideWindow()"></button>
                <button pButton pRipple label="{{checkUpdateOrSave ? 'Actualizar' : 'Guardar' }}"
                    (click)="validateForm(eventForm)"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayDialogDeleted" [modal]="true" [style]="{ width: '27vw' }">
    <div class="text-center my-4">
        <i class="pi pi-times-circle icon-error mb-2"></i>
        <h3>Eliminar registro</h3>
    </div>
    <div class="flex flex-row flex-wrap justify-content-around">
        <button pButton pRipple type="button" label="Cancelar" (click)="closedDialog()" class="p-button-secondary"></button>
        <button pButton type="button" class="tox-button" (click)="deleteDocument()" label="Aceptar"></button>
    </div>
</p-dialog>

<p-toast></p-toast>
