
<div class="container-card-general">
    <div class="container-skeleton">
        <p-skeleton styleClass="mb-2"></p-skeleton>
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>

        <p-skeleton width="100%" height="150px"></p-skeleton>
        <div class="flex justify-content-between mt-3">
            <p-skeleton width="4rem" height="2rem"></p-skeleton>
            <p-skeleton width="4rem" height="2rem"></p-skeleton>
        </div>
    </div>


</div>

