
<!-- selectionMode="single"  dataKey="_id" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" -->

<p-table [value]="dataSource" [columns]="rowTable" #dt [globalFilterFields]="['name']"  selectionMode="single" [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true" [first]="0" responsiveLayout="scroll"
   
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" *ngIf="dataSource?.length > 0">
    
    <ng-template pTemplate="caption">
        <div class="table-header">
            <!-- Buscar -->
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr >
            <th *ngFor="let rows of rowTable" [pSortableColumn]="rows.field">
                <div class="flex">
                    {{rows.header}}
                </div>
            </th>
            <th>
                Acción
            </th>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowTable">
            <td *ngFor="let col of columns">
        
                <div *ngIf="col.type == 'text'">
                    
                    {{rowData[col.field] | truncateText: 40}}
                   
                </div>

                <div *ngIf="col.type == 'number'">
                    <div class="flex">
                        {{rowData[col.field] }}
                    </div>
                </div>
                
                <div *ngIf="col.type == 'date'">
                    <div class="flex">
                        {{rowData[col.field] | date: 'shortDate' }}
                    </div>
                </div>

                <div *ngIf="col.type == 'status'">
                    <div class="flex">
                      <span [class]="'customer-badge status-' + rowData[col.field]"> {{rowData[col.field]}}</span>
                    </div>
                </div>
            </td>
       
            <td>

                <div class="flex" *ngFor="let col of columns ">
                    <div  *ngFor="let actions of col.action; ; let i = index " class="container-inputswitch"> 
                      

                        <div class="container-inputswitch"  *ngIf="actions.activate">
                          
                            <p-inputSwitch  [ngModel]="rowData.status == 'ACTIVE' ? true : false"
                            ></p-inputSwitch>
                        </div>

                        <div *ngIf="actions.delete">
                            <p-button type="button" icon="pi pi-trash"   styleClass="p-button-text" (onClick)="delete(rowData)"></p-button>

                        </div>

                        <div *ngIf="actions.edit">
                            <p-button type="button" icon="pi pi-pencil"  styleClass="p-button-text" (onClick)="edit(rowData)"></p-button>

                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No customers found.</td>
        </tr>
    </ng-template>
</p-table>